<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"
		href="/css/home.css">
	<title>
		onecircle - blog by circkoooooo
	</title>
</head>

<body>
	<div class="home">
		<% page.posts.each(post=>{ %>
			<article onclick="link('<%- post.path%>')">
				<header>
					<h2>
						<%= post.title
							%>
					</h2>
					<small>
						<%- date(
							post.date
							, 'YYYY/MM/DD HH:mm'
							)
							%>
					</small>
					<div class="tags">
						<%- list_tags(site.tags,
							{class: 'tag'
							,
							style:
							false,
							separator: ' '
							})
							%>
					</div>
				</header>
			</article>
			<% });
				%>
	</div>

	<script>
		const link = (url) => {
			const e = document.createElement("a");
			e.href = url;
			e.click();
			e = null;
		};
	</script>
</body>

</html>