article {
	cursor: pointer;
	min-width: fit-content;
	padding: 10px 20px;
	border-radius: 4px;
	margin: 18px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.1);
	transition: all ease-in-out 0.15s;
}

article:hover,
article:active {
	border-width: 2px;
	border-color: #0CA678;
	box-shadow: none;
	margin: 20px 0;
}

.tags {
	margin: 8px 0;
}

.tag-link {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 2px 4px;
	font-size: 0.8rem;
}

.tag-count {
	display: none;
}