.page>header {
	margin-bottom: 40px;
}

article {
	font-size: 0.9rem;
	color: #000;
}

article * {
	line-height: 1.8rem;
}

article>p {
	margin: 10px 0;
}

article p a {
	position: relative;
	z-index: 1;
	background-color: #ffd591;
	padding: 0 4px;
	border-radius: 4px;
}

article a.headerlink {
	padding: 0;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	margin-top: 20px;
}

h2 {
	padding-top: 20px;
	text-align: center;
	width: 100%;
	display: block;
	text-align: center;
	opacity: 0.8;
	border-top: 2px solid rgba(0, 0, 0, 0.05);
}

h3,
h4 {
	opacity: 0.6;
}

h6,
h6 {
	opacity: 0.7;
}

.highlight {
	background-color: #f2f1f1;
	color: #abb2bf;
	padding: 10px;
	border-radius: 4px;
	margin: 8px 0;
}

code {
	margin: 8px 0;
	background-color: #f2f1f1;
	color: #000;
	font-weight: bold;
	border-radius: 4px;
	padding: 2px 4px;
}

.highlight * {
	font-family: "Jetbrains mono";
}

.gutter {
	padding: 0 10px;
	opacity: 0.6;
}

.code {
	padding-left: 10px;
}

blockquote {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 2px;
	margin: 20px 0;
}

ol,
ul {
	margin: 10px 0 10px 30px;
}

.headerlink {
	position: relative;
}

.headerlink::after {
	margin-right: 10px;
	content: "#";
	color: #ffd591;
}

em {
	opacity: 0.4;
}